@font-face {
    font-family: 'Disco';
    src: url('../fonts/disco.eot');
    src: url('../fonts/disco.eot?#iefix') format('embedded-opentype'),
         url('../fonts/disco.woff') format('woff'),
         url('../fonts/disco.ttf') format('truetype'),
         url('../fonts/disco.svg#discoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

