.thumb {
  -webkit-border-radius:5px;
  -moz-border-radius:   5px;
  -o-border-radius:     5px;
  border-radius:        5px;
  border:5px solid #e7491d;
}
.loop-short a .thumb {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:   border-box;
  box-sizing:        border-box;
  -webkit-transition: border .1s ease-in-out;
  -moz-transition:    border .1s ease-in-out;
  -o-transition:      border .1s ease-in-out;
  transition:         border .1s ease-in-out;
}
.loop-short a .thumb:hover {
  border-right: 7px solid #e7491d;
  border-left: 7px solid #e7491d;
  border-top: 6px solid #e7491d;
  border-bottom: 6px solid #e7491d;
}

h1, h2, h3 {
  font-family:'hot', sans-serif;
  font-size:2em;
  line-height:1em;
  margin:1em 0 0.5em;
}
h1 { font-size:2em; }
h2 { font-size:1.5em; }
.loop-short { margin:0 0 25px 0; }
.loop-short a {
  display:block;
  width:100%;
  height:100%;
  text-align:center;
}
.loop-short h2 {
  margin:0;
  font-family:'hot', sans-serif;
  font-size:48px;
  color:#6d6c6c;
}
.loop-short .thumb {
  width:460px;
  height:85px;
}

/*  --------------------------------------------------
  = Scrollbar
  -------------------------------------------------- */
.scrollme {
  float:left;
  overflow:hidden;
  position: relative;
}
.scrollbar-vert {
  float:left;
  width:3px;
  height:100%;
  margin:0 20px 0 10px;
  background-color:#6d6c6c;
  -moz-box-shadow:1px 1px 1px #424242 inset;
  -webkit-box-shadow:1px 1px 1px #424242 inset;
  box-shadow:1px 1px 1px #424242 inset;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
}
.scrollbar-vert.iscroll > div,
.handle-vert {
  position:relative;
  left:-10px;
  width:22px;
  height:22px;
  cursor:pointer;
  background-color:#e7491d;
  -moz-box-shadow:-1px -1px 10px rgba(0,0,0,0.3) inset;
  -webkit-box-shadow:-1px -1px 10px rgba(0,0,0,0.3) inset;
  box-shadow:-1px -1px 10px rgba(0,0,0,0.3) inset;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
  border-radius:20px;
}
.scrollbar-vert.iscroll > div:hover,
.handle-vert:hover { background-color:#e95c34; }
.scrollbar-vert.nojavascript { display:none; }

.main-column.ismobile {
    padding-right: 40px;
}

.single .scrollbar-vert.iscroll,
.scrollbar-vert.iscroll {
    position: absolute;
    top: 0;
    right: 17px;
    bottom: 22px;
    left: auto;
    height: auto;
    margin: 0;
    opacity: 1 !important;
    overflow: visible !important;
}

.scrollbar-vert.iscroll > div {
  height:22px !important;
}
